body
{
    margin: 0px;
}
header
{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar
{
    position: sticky;
    top: 0px;
    /* background-color: rgb(5, 10, 43); */
    background-image: linear-gradient(80deg,rgb(11, 16, 35),rgb(5, 6, 24),rgb(1, 1, 19));
    color: white;
    height: 60px;
    padding-top: 18px;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.navlink
{
    text-decoration: none;
    color: white;
    margin-left: 25px;
}
.mainimg1
{
    width: 1400px;
    height: 793px;
    margin-top: 0px;
    position: absolute;
    top: 11%;
    opacity: 0.678;
    z-index: 0;
}
.maintext1
{
    position: absolute;
    /* top: 57%;
    left: 10%;
    font-size: 130px; */
    font-size: 150px;
    top: 55%;
    left: 9%;
    padding-right: 30px;
    font-family: 'Philosopher', sans-serif;
    color: rgb(6, 6, 30);
    /* stroke-width: 1px;
    stroke-opacity: 1;
    stroke-color: rgb(248, 240, 240); */
    transition: 0.5s;
}
.maintext1:hover
{
    font-size: 160px;
    top: 55%;
    left: 8.7%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 5px rgba(0, 0, 0, 0.4); */
    stroke-width: 3px;
    stroke-opacity: 1;
    stroke-color: rgb(248, 240, 240);
    transition: 0.5s;
}
.subtext1
{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 70px;
/* gradient text *//* gradient text *//* gradient text *//* gradient text *//* gradient text *//* gradient text *//* gradient text */
/* gradient text *//* gradient text *//* gradient text *//* gradient text *//* gradient text *//* gradient text *//* gradient text */
    font-family: 'Poppins', sans-serif;    
    stroke-width: 1px;
    stroke-opacity: 1;
    stroke-color: rgb(168, 201, 247);
    color: transparent;
}
.maintext2
{
    position: absolute;
    top: 130%;
    left: 16%;
    width: 1000px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.text2dec
{

    background-image: linear-gradient(90deg,red,blue);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1s ease;
}
.text2dec:hover
{
    background-size: 100% 2px;
}
.video1
{
    position: absolute;
    top: 185%;
    left: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.works1
{
    position: absolute;
    top: 330%;
    left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.area1
{
    position: absolute;
    top: 430%;
    left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.ftr
{
    position: absolute;
    top: 530%;
    background-color: rgb(4, 5, 24);
    color: #ffffff;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 320px;
    width: 1460px;
    text-align: center;
}
th
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
}
.tbl1
{
    text-align: left;
    justify-content: space-evenly;
    margin-left: 120px;
    width: 190px;
    margin-top: 50px;
    margin-bottom: 330px;
}
.tbl2
{
    text-align: left;
    justify-content: space-evenly;
    margin-left: 75px;
    width: 190px;
    margin-top: 50px;
    margin-bottom: 370px;
}
.tbl4
{
    text-align: left;
    justify-content: space-evenly;
    margin-left: 75px;
    width: 290px;
    margin-top: 50px;
    margin-bottom: 210px;
}